
@import normalize

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')

// @font-face 
//     font-family: 'Roboto'
//     src: url('../fonts/Roboto_700.woff2')
//     font-style: normal
//     font-weight: 700

// $header-font: Roboto
$primary-color: #FFF
$secondary-color: rgb(165, 40, 56)

$primary-font-color: #000
$secondary-font-color: rgb(165, 40, 56)

// $background-color: #37343A
// $block-color: #636362
// $dark-background-color: #333036
// $input-background: #63666e
// $basic-font-size: 2.4rem
// $basic-font-size-mobile: 1.6rem

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 1px

body
    font-size: 14rem
    font-family: 'Open Sans', sans-serif
    // background-color: $background-color
    color: $primary-font-color

a
    // color: $primary-color
    text-decoration: none
    cursor: pointer
    color: $primary-font-color

// h1
//     padding-bottom: 2.7rem

//     font-family: $header-font
//     font-size: 6.6rem

// h2 
//     padding-bottom: 2.7rem

//     font-family: $header-font
//     font-size: 5.8rem

// h3 
//     padding-bottom: 2.7rem

//     font-family: $header-font
//     font-size: 3.4rem

img
    width: 100%
    height: 100%
    object-fit: contain

.container
    width: 1000rem
    margin-left: auto
    margin-right: auto

button
    display: flex
    align-items: center
    padding: 5rem 20rem
    box-sizing: border-box

    font-size: 16rem

    background-color: $secondary-color
    border: 2rem solid $secondary-color
    border-radius: 8rem
    color: $primary-color
    cursor: pointer
    transition: all 0.3s ease

    &>svg
        width: 24rem
        height: 16rem

        fill: $primary-color

    &:hover
        background-color: transparent
        color: $secondary-color
        &>svg
            fill: $secondary-color

@media (max-width: 82em)
    html
        font-size: 0.7692307692307692vw

    .container
        width: 120rem

// @media (min-width: 48em)    
//     button:hover
//         background-color: transparent
//         color: $second-color

//     a:hover
//         text-decoration: underline

@media (max-width: 48em)
    html
        font-size: 3.125vw

    .container
        width: 29rem

    // h1
    //     padding-bottom: 2.7rem

    //     font-size: 2.9rem

    // h2 
    //     padding-bottom: 2.7rem

    //     font-size: 2.3rem

    // h3 
    //     padding-bottom: 2.7rem

    //     font-size: 1.4rem

    // button
    //     padding: 0.7rem 1.6rem

    //     font-size: 1.7rem

    //     border-radius: 0.8rem

@import components/header
@import components/item
@import components/items_list
@import components/UI/app_input
